.input
{
	font-size: 10pt;
	border-top-style: inset;
	font-family: Arial, "ms sans serif";
	border-right-style: inset;
	border-left-style: inset;
	background-color: #FFFFFF;
	border-bottom-style: inset;
}
.link1
{
	padding-right: 2px;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 8px;
	color: #636363;
	padding-top: 8px;
	font-family: Arial, "ms Sans serif";
	border-bottom: 1px solid #41463F;
	text-align: justify;
}
.link1 A
{
	color: #636363;
	text-decoration: none;
}
.link1 A:hover
{
	color: #636363;
	text-decoration: underline;
}
IMG
{
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
}
.text A
{
	color: #636363;
	text-decoration: underline;
}
.text A:hover
{
	color: #636363;
	text-decoration: none;
}
.req
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 13px;
	padding-bottom: 0px;
	color: #003F80;
	padding-top: 0px;
	font-family: Calibri;
}
/*MISC
----------------------------------------------------------*/
.clear
{
	clear: both;
}
.error
{
	color: #FF0000;
}
/*Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field
{
	margin: 0.5em 0;
}
.UserInfo
{
	text-align: right;
	text-decoration: none;
	padding-right: 5px;
}
.UserInfo *
{
	padding: 3px;
}
.UserInfo A
{
	text-decoration: none;
	font: 1em Arial;
	color: #AAA;
}
.checkout
{
	padding-top: 15px;
	padding-left: 5px;
}
.loginContent .rightbox
{
	text-align: right;
	margin: 0px;
	padding: 5px;
}
.empty-row TD
{
	text-align: center;
	height: 30px;
}
.edit_confirm_button, .delete_button, .edit_button, .edit_cancel_button, .restore_button
{
	cursor: pointer;
}
INPUT[type="button"], INPUT[type="submit"]
{
	padding: 5px;
	cursor: pointer;
	width: 150px;
	margin-top: 5px;
	background: #EEEEE1;
	border: 1px solid #AAA;
}
.container
{
	text-align: center;
	margin: 10px -5px;
	padding: 0px;
}
.container .left, .right, .middle
{
	float: left;
	width: 200px;
	background: #DCDDBD;
	padding: 10px;
	margin: 10px 60px 5px 5px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
.container .middle
{
	float: none;
	width: 845px;
}
.small
{
	height: 425px;
}
.product_image
{
	cursor: pointer;
	width: 150px;
	height: 150px;
}
.delivery
{
	display: none;
}
.field-validation-error
{
	color: #FF0000;
}
.controlpanel_home
{
	text-align: right;
}
.controlpanel_home A
{
	text-decoration: none;
	color: #777;
}
.searchbox
{
	text-align: right;
	margin-bottom: 5px;
}
#txtsearchcriteria
{
	width: 200px;
}
#noresultsrow
{
	display: none;
	text-align: center;
}
.highlight
{
	background-color: #FFFF00;
}
.validation-summary-errors
{
	color: #FF0000;
}
.introduction P
{
	font: 1em Arial;
	color: #828282;
}
.perfect-gift
{
	font: 1.4em Arial;
	color: #8FA971;
	margin-top: 20px;
	margin: 10px;
}
.headers
{
	margin-left: 25px;
	background: #080808;
	padding-left: 10px;
	margin-bottom: 5px;
}
.headers A
{
	text-decoration: none;
	color: #AAA;
}
.headers P
{
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
}
.menu
{
	float: right;
	padding: 5px 10px 0 0;
}
.container A
{
	font: 1.1em Arial;
	color: #5D5F10;
	text-decoration: none;
}
.container A:hover
{
	color: #21141D;
	text-decoration: none;
}
.menu A
{
	text-decoration: none;
	font: 1.1em Arial;
	color: #5D5F10;
}
.menu A:hover
{
	text-decoration: none;
	color: #221E1F;
}
