/*ogOn*/
BODY
{
	margin: 0px;
	padding: 0px;
	font: normal normal normal 17px Arial, Verdana, Helvetica, san-serif;
	color: #333333;
	background: url(../images/bg3.gif) repeat-x 0px 0px;
}
#mainContainer
{
	margin: 0px auto;
	width: 1010px;
	background: #FFFFFF;
}
UL
{
	margin: 0px;
	padding: 0px;
}
#headerTop
{
	background-image: url(../images/header_top_img_bg.jpg);
	width: 1010px;
	height: 25px;
}
#headerTop #headerTopLeft
{
	float: left;
}
#headerTop #headerTopRight
{
	float: right;
}
#headerTopRight #dateTime
{
	color: #FFFFFF;
	font-size: 70%;
	padding: 5px 5px 5px 20px;
	background: url('../images/arrow.gif') no-repeat 0px 5px;
}
#headerTopRightLinks LI.noBorder
{
	border-right: none;
}
#headerImage
{
	background-image: url(../images/header_image_bg.jpg);
	width: 1010px;
	height: 103px;
}
#headerBottom
{
	background-image: url(../images/header_btm_bg_img.jpg);
	width: 1010px;
	height: 25px;
}
#navigationTop
{
	float: left;
	width: 1010px;
	background: #C7500C url('../images/navBar_bg.jpg') repeat-x 0px 0px;
}
#navigationContainer, .navigationContainer
{
	float: left;
}
.navigationTopLeftBg
{
	background-image: url(../images/nav_left_img_bg.jpg);
	width: 110px;
	height: 21px;
	float: left;
}
.navigationTopRytBg
{
	background-image: url(../images/nav_ryt_img_bg.jpg);
	width: 110px;
	height: 21px;
	float: right;
}
/*end Nav Top*/
#navigationBottom
{
	float: left;
	width: 1010px;
	padding-bottom: 2px;
	background: #FFFFFF;
}
.navigationBottomLeftBg
{
	background-image: url(../images/nav_lft_btm_img_bg.jpg);
	width: 76px;
	height: 20px;
	float: left;
}
.navigationBottomRytBg
{
	background-image: url(../images/nav_ryt_btm_img_bg.jpg);
	width: 76px;
	height: 20px;
	float: right;
}
/*end Nav Bottom*/
#navigationLinks, #navigationLinks LI
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
}
#navigationLinks LI A
{
	float: left;
	margin: 0px;
	padding: 0px;
	height: 21px;
}
#navigationLinks LI A SPAN.linkName
{
	display: none;
}
#navigationLinks LI A IMG
{
	background: #C7500C url('../images/navBar1.jpg') no-repeat 0px 0px;
	border: 0px solid #000000;
	text-decoration: none;
	height: 21px;
}
#navigationLinks LI A.home IMG
{
	background-position: 0px 0px;
	width: 83px;
}
#navigationLinks LI A.about IMG
{
	background-position: -83px 0px;
	width: 128px;
}
#navigationLinks LI A.donation IMG
{
	background-position: -211px 0px;
	width: 123px;
}
#navigationLinks LI A.gallery IMG
{
	background-position: -332px 0px;
	width: 95px;
}
#navigationLinks LI A.newsletter IMG
{
	background-position: -427px 0px;
	width: 130px;
}
#navigationLinks LI A.signup IMG
{
	background-position: -558px 0px;
	width: 95px;
}
#navigationLinks LI A.home.active IMG
{
	background-position: 0px -27px;
}
#navigationLinks LI A.about.active IMG
{
	background-position: -83px -27px;
}
#navigationLinks LI A.donation.active IMG
{
	background-position: -211px -27px;
}
#navigationLinks LI A.gallery.active IMG
{
	background-position: -332px -27px;
}
#navigationLinks LI A.newsletter.active IMG
{
	background-position: -427px -27px;
}
#navigationLinks LI A.signup.active IMG
{
	background-position: -558px -27px;
}
#pageContainer
{
	float: left;
	width: 902px;
	height: 100%;
	background: #FFFFFF url('../images/bg_mainCont.gif') repeat-y 0px 0px;
	padding: 0px 54px;
}
#middlePageContainer
{
	float: left;
	width: 900px;
}
#middlePageContainer *
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
#middlePageContainer IMG
{
	border: none !important;
}
#middlePageContainer UL
{
	font-size: 100%;
	width: 100%;
}
#middlePageContainer UL LI
{
	width: 100%;
	list-style: none;
	background: transparent url('../images/bullet.gif') no-repeat 0px 7px;
	padding-left: 10px;
	margin-left: 10px;
}
#middlePageContainer #ltContent
{
	float: left;
	width: 612px;
	margin: 0px 12px;
	background: #FFFFFF;
}
#middlePageContainer #ltContent .contImg
{
	float: left;
	width: 179px;
	margin-top: 25px;
}
#middlePageContainer #ltContent .contImg IMG
{
	margin-bottom: 20px;
}
#middlePageContainer #ltContent .content
{
	float: left;
	width: 380px;
	margin-left: 50px;
	line-height: 1.4em;
	display: block;
	clear: none;
}
#middlePageContainer #ltContent .content H1
{
	color: #9B0101;
	font-weight: bold;
	font-size: 16px;
	margin: 5px 0px;
	display: block;
	clear: both;
	width: 100%;
}
#middlePageContainer #ltContent .content P
{
	clear: both;
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
#middlePageContainer A, #middlePageContainer STRONG, #middlePageContainer EM
{
	float: none;
}
#middlePageContainer STRONG.red
{
	color: #9B0101;
}
#middlePageContainer H1
{
	color: #9B0101;
	font-weight: bold;
	font-size: 16px;
	margin: 5px 0px;
	display: block;
}
#middlePageContainer H2
{
	color: #9B0101;
	font-weight: bold;
	font-size: 14px;
	margin: 5px 0px;
	display: block;
}
#middlePageContainer TABLE.innerPage
{
	width: 870px;
	margin: 0px 15px;
}
#middlePageContainer TABLE.innerPage TD
{
	font-size: 12px;
}
#middlePageContainer TABLE.innerPage TD P
{
	margin-bottom: 15px;
}
#middlePageContainer #rtContent
{
	float: right;
	width: 244px;
	padding: 10px;
	padding-top: 0px;
}
#middlePageContainer #rtContent *
{
	float: none;
	font-size: 11px;
	color: #993300;
}
#middlePageContainer #rtContent TD.panTop
{
	background: url('../images/rt-pan-top.gif') no-repeat 0px 0px;
	height: 13px;
	float: left;
	font-size: 1px;
	width: 244px;
}
#middlePageContainer #rtContent TD.panBot
{
	background: url('../images/rt-pan-bot.gif') no-repeat 0px 0px;
	height: 13px;
	float: left;
	font-size: 1px;
	width: 244px;
}
#middlePageContainer #rtContent TD.center
{
	text-align: center;
}
#footContainer
{
	float: left;
	margin-bottom: 3px;
	width: 1010px;
	clear: both;
	display: block;
	height: 21px;
	background: #E8730C url(../images/bg_footer.gif) repeat-x 0px 0px;
	margin-top: -3px;
}
#footContainer .leftImg
{
	float: left;
	background: url('../images/foot_lt.gif') no-repeat 0px 0px;
	width: 54px;
	height: 21px;
}
#footContainer .rightImg
{
	float: right;
	background: url('../images/foot_rt.gif') no-repeat 0px 0px;
	width: 54px;
	height: 21px;
}
#footContainer .footContent
{
	float: left;
	font-size: 70%;
	color: #FFFFFF;
	text-align: center;
	width: 900px;
	padding: 4px 0px;
}
DIV#container
{
	overflow: hidden;
}
DIV.content
{
	display: none;
	clear: both;
}
DIV.content A, DIV.navigation A
{
	text-decoration: none;
}
DIV.content A:hover, DIV.content A:active
{
	text-decoration: underline;
}
DIV.navigation A.pageLink
{
	height: 77px;
	line-height: 77px;
}
DIV.controls
{
	margin-top: 5px;
	height: 23px;
	display: none;
}
DIV.controls A
{
	padding: 5px;
}
DIV.ss-controls
{
	float: left;
}
DIV.nav-controls
{
	float: right;
}
DIV.slideshow-container, DIV.loader, DIV.slideshow A.advance-link
{
	width: 600px;
/*This should be set to be at least the width of the largest image in the slideshow with padding*/
}
DIV.loader, DIV.slideshow A.advance-link, DIV.caption-container
{
	height: 600px;
/*This should be set to be at least the height of the largest image in the slideshow with padding*/
}
DIV.slideshow-container
{
	position: relative;
	clear: both;
	float: left;
	height: 650px;
	margin-left: 150px;
}
DIV.loader
{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
DIV.slideshow SPAN.image-wrapper
{
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
}
DIV.slideshow A.advance-link
{
	display: block;
	line-height: 0px;
/*This should be set to be at least the height of the largest image in the slideshow with padding*/
	text-align: center;
}
DIV.slideshow A.advance-link:hover, DIV.slideshow A.advance-link:active, DIV.slideshow A.advance-link:visited
{
	text-decoration: none;
}
DIV.slideshow A.advance-link:focus
{
	outline: none;
}
DIV.slideshow IMG
{
	border: 1px solid #CCCCCC;
}
DIV.caption-container
{
	float: left;
	position: relative;
}
SPAN.image-caption
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
DIV.caption-container, SPAN.image-caption
{
	width: 334px;
	display: none;
}
DIV.caption
{
	padding: 0 12px;
}
DIV.image-title
{
	font-weight: bold;
	font-size: 1.4em;
}
DIV.image-desc
{
	line-height: 1.3em;
	padding-top: 12px;
}
DIV.download
{
	margin-top: 8px;
}
DIV.photo-index
{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 12px;
}
DIV.navigation-container
{
	float: left;
	position: relative;
	left: 5%;
}
DIV.navigation
{
	float: left;
	position: relative;
	le ft: -50%;
}
DIV.navigation A.prev
{
	background-image: url(../images/prevPageArrow.gif);
}
DIV.navigation A.next
{
	background-image: url(../images/nextPageArrow.gif);
}
DIV.navigation A.pageLink
{
	display: block;
	position: relative;
	float: left;
	margin: 2px 8px;
	width: 16px;
	background-position: center 70%;
	background-repeat: no-repeat;
}
DIV.navigation A.pageLink:focus
{
	outline: none;
}
UL.thumbs
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
UL.thumbs LI
{
	float: left;
	padding: 0;
	margin: 2px;
	list-style: none;
}
A.thumb
{
	padding: 1px;
	display: block;
}
A.thumb:focus
{
	outline: none;
}
UL.thumbs IMG
{
	border: none;
	display: block;
}
DIV.pagination
{
	clear: both;
	position: relative;
	left: -50%;
}
DIV.pagination A, DIV.pagination SPAN.current, DIV.pagination SPAN.ellipsis
{
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px;
	border: 1px solid #CCC;
}
DIV.pagination A:hover
{
	text-decoration: none;
}
DIV.pagination SPAN.current
{
	font-weight: bold;
}
DIV.pagination SPAN.ellipsis
{
	border: none;
	padding: 5px 0 3px 2px;
}
DIV.gallery-gutter
{
	clear: both;
	padding-bottom: 20px;
}
